<spa-top></spa-top>
<div id="box">
  <div class="row ">
    <div class="col p-3" style="padding-bottom: 40px;">
    <p class="display-5 text-center" style="color:#7790a9">Faça login para continuar</p>
  </div> 
  <div class="col d-flex justify-content-center p-2" style="display: inline-block;"> 
      <div 
        id="g_id_onload" 
        data-client_id="731978274268-sbo35fdt0t1egp1ci26c43j86m55133o.apps.googleusercontent.com"
        data-context="signin" 
        data-auto_select="false"
        data-ux_mode="popup" 
        data-callback="handleCredentialResponse"
        data-moment_callback="continueWithNextIdp">
      </div>    
      <div 
        class="g_id_signin" 
        data-type="standard" 
        data-shape="pill" 
        data-theme="filled_black"
        data-text="$ {button.text}" 
        data-size="large" 
        data-logo_alignment="center" 
        data-width="250">
      </div> 
    </div>
      <div class="col d-flex justify-content-center p-2" style="display: inline-block;">
      <div 
        class="fb-login-button" 
        data-width="250" 
        data-size="large" 
        data-button-type="login_with" 
        data-layout="rounded" 
        data-auto-logout-link="true" 
        data-use-continue-as="false">
      </div>
      
    </div>  
  </div>
</div>

 

 
 
 