<meta name="theme-color" content="#212529">
        <div class="box-top bg-black">
            <a class="float-end icon" data-bs-toggle="dropdown">
                <img src="{{picture}}" class="rounded-circle mx-auto d-block" style="width:50%;float: right; ">
            </a>
            <ul class="dropdown-menu">
                <li *ngIf="!isVisible" routerLink="/login"><a class="dropdown-item font-padrao h4">Fazer login</a></li>
                <li id="itemName" *ngIf="isVisible"><a class="dropdown-item font-padrao" style="color: #7f9bff;"><b>Olá,</b> {{nome}}</a></li>
                <li *ngIf="isVisible" routerLink="/cadastro"><a class="dropdown-item font-padrao h4">Meu cadastro</a></li>
                <li *ngIf="isVisible"><a class="dropdown-item font-padrao h4" routerLink="/pedido">Meus pedidos</a></li>
                <li *ngIf="isVisible"><a class="dropdown-item font-padrao h4" (click)="sair()">Sair</a></li>
            </ul> 
        <div class="box-loja">
            <p  class="text-secondary h5 text-center" >DECORATEM</p> 
            <p id="total" class="display-5 text-secondary text-center"><b>R$ </b>{{total}}</p>     
        </div> 
        </div> 
       
 