.mat-form-field + .mat-form-field {
    margin-left: 5px;
  }


  .mat-expansion-panel-body {
    padding: 0 24px 16px;
    background-color: red;
}

#panel > .mat-expansion-panel-body {
    padding: 0 24px 16px;
    background-color: red;
  }
