<spa-top></spa-top>
<mat-accordion>
  <mat-expansion-panel *ngFor="let pedido of pedidos" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nº {{pedido.id}}
      </mat-panel-title>
      <mat-panel-description>
        {{ pedido.lastUpdade | date: 'dd/MM/yyyy hh:mm:ss'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="text-center text-secondary">Detalhes do pedido</p>

    <ul class="list-group">
      <li class="list-group-item">
        Total
        <span class="float-end">R$ 000,00</span>
      </li>
      <li class="list-group-item">
        Atualizado
        <span class="float-end">{{ pedido.lastUpdade | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
      </li>
      <li class="list-group-item">
        Pagamento
        <span class="float-end">{{pedido.payment.paymentMethodId}}</span>
      </li>
      <li class="list-group-item">
        Parcelas
        <span class="float-end">x{{pedido.payment.installments}}</span>
      </li>
      <li class="list-group-item">
        Status
        <span class="float-end">{{pedido.order}}</span>
      </li>
    </ul>
    <br>
    <p class="text-center text-secondary">Produtos do pedidos</p>
    <ul class="list-group">
      <li class="list-group-item">
        <img class="img-fluid mx-auto d-block image" src="assets/img/8058977.png" style="width: 35px">
      </li>
      <li class="list-group-item">
        Quantidade
        <span class="float-end">1</span>
      </li>
      <li class="list-group-item">
        Valor unitário
        <span class="float-end">R$ 1000.9</span>
      </li>
      <li class="list-group-item">
        Total
        <span class="float-end">R$ 1000.9</span>
      </li>
    </ul>    
  </mat-expansion-panel> 
</mat-accordion>
<spa-footer></spa-footer>

